.btn-sub{
    background-color: #F54C53!important;
    width: 100%;
}

.order{
    color: white;
    padding: 10px 1em;
    border-radius: 20px;
    background-color: #0098ef;
    border-style: none;
    font-weight: 850;
    transition: 0.6s ease;
}

.subcribe{
    color: white;
    padding: 10px 1.5em;
    border-radius: 40px;
    background-color: transparent;
    border: 4px solid white;
    font-weight: 850;
    transition: 0.25s ease;
}

.order:hover{
    background-color: #55c0fd;
}

.subcribe:hover{
    background-color: white;
    color: #0098ef;
}

.booking{
    color: white;
    padding: 10px 1em;
    border-radius: 20px;
    border-style: none;
    font-weight: 850;
    transition: 0.6s ease;
    background-color: #f96900;
}

.booking:hover{
    background-color: #fa7c22;
}