@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header-logo {
  width: 60px;
}

.title-brand {
  font-family: "Courgette";
  letter-spacing: 0.4em;
}

.login {
  letter-spacing: 2px;
  padding: 5px 1.5em;
  border-radius: 20px;
  border-style: none;
  color: #fafafa;
  background-color: #0098ef;
  font-weight: 850;
  transition: 0.6s ease;
}

.b1,
.b2,
.b3,
.b4 {
  width: 40%;
  margin: 0 auto;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

.a1:hover,
.a2:hover,
.a3:hover,
.a4:hover {
  color: #f96900!important;
}

.a1:hover > .b1,
.a2:hover > .b2,
.a3:hover > .b3,
.a4:hover > .b4 {
  border: 1px solid #f96900;
}

.a1,
.a2,
.a3,
.a4 {
  letter-spacing: 2px;
}

.login:hover {
  background-color: #55bcf8;
}

.li{
  list-style: none;
}